<?xml version="1.0" encoding="utf-8" ?>
<phpunit
        colors="true"
        bootstrap="phpunit-bootstrap.php"
        strict="true"
>

    <testsuites>
        <testsuite name="unit-tests">
            <directory>.</directory>
            <exclude>connection-tests</exclude>
        </testsuite>
    </testsuites>

    <filter processUncoveredFilesFromWhitelist="true">
        <whitelist>
            <directory suffix=".php">../src</directory>
            <exclude>
                <!-- Classes with connection to API -->
                <directory>../src/Bpack247.php</directory>
                <directory>../src/Bpost.php</directory>
                <directory>../src/Geo6.php</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>

</phpunit>
